@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <!-- without using @@using the ASP.NET doesn't dispose the HTML tag  -->
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        <!-- ASP.NET will add the validation by default from the Customer Model 
             class="form-control", it's a bootstrap class for better user interface
            -->
        @Html.TextBoxFor(m => m.Customer.Name, new { @class="form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group">
        <label for="Customer_BirthDate">Date of Birth</label>
        @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), 
                             "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <!-- You need to check how to style the form from https://getbootstrap.com/docs/3.3/css/#forms -->
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribe to newsletter?
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <!-- The class is used to give stylesheet from bootstrap -->
    <button type="submit" class="btn btn-primary">Save</button>
}
